* {
    margin: 0;
    max-width: auto;
    padding: 0;
}
body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;

}
.topnavbar ul {
  list-style: none;
  background-color: #1d2540;
  padding: 0;
  margin: 0;
  text-align: center;
}
.topnavbar li {
    display: inline-block;
}
.topnavbar a {
    color: white;
    width: 100px;
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}
.topnavbar a:hover {
    background-color: white;
    color: black;
}
.topnavbar a.active {
    background-color: white;
    color: black;
}
.imgmainlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.frontgames {
  padding: 130px;
  float: left;
  width: auto;

  
  
}
.maintextcenter {
    position: relative; left: 780px; top: 30px;
    font-size: 20px;
    color: #1d2540;
}
.maintextcenter2 {
    position: relative; left: 910px; top: 160px;
    font-size: 20px;
    color: #1d2540;
}
.pricetag1 {
    font-weight: bold;
    position: relative; left: 970px;
    
}
.pricetag2 {
    font-weight: bold;
    position: relative; left: 1212px; bottom: 19px;
}
.pricetag3 {
    font-weight: bold;
    position: relative; left: 1457px; bottom: 38px;
}
h1 {
    text-align: center;
    line-height: 200px;
    margin-bottom: 10px;
    color: #1d2540;

}
.searchbar {
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.allgames {
    margin-top: 20px;
    display: inline-block;
    margin-right: 20px;
   }
   .aligngames {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.gamename {
    display: inline-block;
    font-size: 30px;
    margin-left: auto;
    margin-top: auto;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 10px;

}
.gamepicture {
    margin-left: auto;
    margin-right: auto;
    display: block;
   padding-bottom: 50px;
   padding-left: 9px;
   padding-top: 10px;
   height: 640px;
   width: 500px;
   object-fit: contain;
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    
    
    
    

}

.detailsContainer {
    border-radius: 10px;
    background-color: whitesmoke;
    width: 600px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    
}
.gamedesc {
    margin-left: auto;
    display: block;
    padding-left: 50px;
    padding-bottom: 10px;
    
}
.gamePrice {
    margin-left: auto;
    display: block;
    padding-left: 50px;
    padding-bottom: 10px;
    visibility: visible;
    color: #1d2540;
    

}
.cartbutton {
    color: white;
    background-color: #E6A200;
    border: 2px solid;
    height: 40px;
    width:100px;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    position:relative; bottom: -20px; left: 455px;
    visibility: visible;
    
    
    
}
.cartbutton:hover {
    color: #E6A200;
    background-color: white;

}

.aboutp {
    color: #1d2540;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    font-size: 20px;
}
.mycartpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    

}
.cartdesc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#cartForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
   }
.form__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
    
.errorCartForm {
    display: none; 
}
.paybutton {
    color: white;
    background-color: #E6A200;
    border: 2px solid;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}
.paybutton:hover {
    background-color: white;
    color: #E6A200;
    text-decoration: none;
}

.cartContainer {
    border-radius: 10px;
    background-color:whitesmoke ;
    padding: 100px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    
}

.checkoutp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #1d2540;
    font-size: 20px;
}
.footer {
    background-color: #1d2540;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
    text-align: center;
    position: fixed;
    color: white;
    padding-top: 10px;
}

.image {
    height: 640px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  
 
}

.games {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    

   
   
   
}




    


    @media (min-width: 768px) {
        .indexContainer {
            display: grid;
            grid-gap: 16px;
            grid-template-columns: 1fr; }
        
    
    }
  
    
    
